
.players {
  font-size:10px;
  width:46px;
  height:46px;
  border:2px solid black;
  align-items: center;
}
.player0 {
  background-color:white;
}
.player1 {
  background-color:yellow;
}
.player2 {
  background-color:red;
}
