
.player0 {background-color:white; font-size:10px; width:46px; height:46px; border:2px solid black;  align-items: center;}
.player1 {background-color:yellow; font-size:10px; width:46px; height:46px; border:2px solid black;  align-items: center;}
.player2 {background-color:red; font-size:10px; width:46px; height:46px; border:2px solid black; align-items: center;}
cr {}
