
button {
  width:50px;
  font-size:18px;
}
.piece {
  font-size:40px;
  width:46px;
  height:46px;
  border:2px solid black;
  text-align:center;
  position: absolute;
}
.player0 {
  background-color:white;
}
.player1 {
  background-color:yellow;
}
.player2 {
  background-color:red;
}
